:root {
  --color-red: #FF4136;
  --color-blue: #0074D9;
  --color-aqua: #7FDBFF;
  --color-teal: #39CCCC;
  --color-olive: #3D9970;
  --color-green: #4CAF50;
  --color-lime: #01FF70;
  --color-yellow: #FFDC00;
  --color-orange: #FF851B;
  --color-fuchsia: #F012BE;
  --color-purple: #B10DC9;
  --color-maroon: #85144B;
  --color-brown: #795548;
  --color-black: #2A2A2A;
  --color-grey10: #171a20;
  --color-grey15: #222;
  --color-grey20: #333333;
  --color-grey25: #444;
  --color-grey30: #5c5e62;
  --color-grey35: #757575;
  --color-grey40: #a2a3a5;
  --color-grey50: #d0d1d2;
  --color-grey60: #eee;
  --color-grey70: #f4f4f4;
  --color-white:  #ffffff;
  
  --text-color: var(--color-grey20);
  --text-color-bright: var(--color-black);
  --text-color-muted: var(--color-grey35);

  --background-color: var(--color-white);
  --background-color-alt-1: var(--color-grey50); 
  --link-color: var(--color-blue);

  --links: var(--color-blue);
  --focus: var(--color-maroon);
  --border: var(--color-grey70);
  --code: var(--color-black);

  --form-placeholder: var(--color-grey35);
  --form-text: var(--color-black);

  --variable: var(--color-green);
  --highlight: var(--color-yellow);

  --animation-duration: 0.1s;
  --button-hover: var(--color-grey70);

  --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23161f27'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
}

@media (prefers-color-scheme: dark) {
  body.enable-dm {
    --background-color: var(--color-grey15);
    --background: var(--color-grey10);
    --background-alt: #1a242f;
    --text-color: var(--color-grey70);
    --text-color-bright: var(--color-white);
    --text-color-muted: #717880;
    --links: #41adff;
    --code: #ffbe85;
    --button-hover: #324759;
    --form-placeholder: var(--text-color-muted);
    --form-text: var(--text-color);
    --variable: #d941e2;
    --highlight: #efdb43;
    --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23efefef'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
  }

  body.enable-dm ::selection {
    color: var(--background-color);
    background-color: var(--text-color);
  }

  html {
    content: "dark";
  }
  
  body.enable-dm img:not([src*=".svg"]) {
    filter: grayscale(30%);
  }
  
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  body {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
  }
}

::selection {
  background-color: var(--text-color);
  color: var(--background-color);
}

a  {
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--link-color);
  text-decoration-thickness: 2px;
}

a:hover {
  color: var(--link-color);
  text-decoration-thickness: 3px;
}

a:focus {
  outline: 0;
}

a[href^='mailto']::before {
  content: '📧 ';
}

a[href^='tel']::before {
  content: '📞 ';
}

a[href^='sms']::before {
  content: '💬 ';
}

img {
  max-width: 100%;
}

hr {
  height: 0;
}


abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
  color: var(--text-color-bright);
}

u {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

small,
.small {
  font-size: 0.8rem;
}

mark {  
  color: var(--text-color-bright);
  background-color: var(--color-yellow);
  border-radius: 2px;
  padding: 0px 2px 0px 2px;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

h1, h2, h3 {
  letter-spacing: -0.05em;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  color: var(--text-color-bright);
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  line-height: 1.25;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.3;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0;
}

blockquote , q{
  border-left: 4px solid var(--focus);
  margin: 1.5em 0em;
  padding: 0.5em 1em;
  font-style: italic;
}

blockquote > footer {
  font-size: 0.8rem;
  color: var(--text-color-muted);
  border: 0;
}

blockquote cite {
  font-style: normal;
}

address {
  font-style: normal;
}

/*=============================
  Container & Grid
=============================*/

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: no-wrap;
  margin: 0 -0.5rem 0 -0.5rem;
}

.row:not(:last-child) {
  padding-bottom: 1rem;
}

[class*="col"] {
  margin: 0 0.5rem 0 0.5rem;
  padding: 0;
}

.col {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
  flex: 1;
}

.col-1 {
  width: calc(100% / 12);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: calc(100% / 2);
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    margin: 0;
  }

  [class*="col-"] {
    width: 100%;
    padding: 0;
  }
}

/*=============================
  Lists
=============================*/

ul,
ol {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding-left: 0;
}

ul li,
ol li {
  margin-bottom: 1rem;
}

ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-left: 1rem;
}

@media (max-width: 768px) {
  ul, ol {
    padding-left: 1rem;
  }
}

/*=============================
  Code
=============================*/

code, samp, time {
  background: var(--background-color-alt-1);
  color: var(--code);
  padding: 2.5px 5px;
  border-radius: 6px;
  font-size: 1em;
  font-family: "Consolas", "Monaco", "Menlo", monospace;
}

pre > code {
  display: block;
  padding: 10px 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
}

var {
  color: var(--variable);
  font-style: normal;
  font-family: "Consolas", "Monaco", "Menlo", monospace;
}

kbd {
  background: var(--background-color-alt-1);
  border: 1px solid var(--border);
  border-radius: 2px;
  color: var(--text-color);
  padding: 2px 4px 2px 4px;
}

/*=============================
  Form
=============================*/

button, input, textarea {
  transition: background-color var(--animation-duration) linear,
              border-color var(--animation-duration) linear,
              color var(--animation-duration) linear,
              box-shadow var(--animation-duration) linear,
              transform var(--animation-duration) ease;
}

button, select,
input[type='submit'],
input[type='button'],
input[type='checkbox'],
input[type='range'],
input[type='radio'] {
  cursor: pointer;
}

input:not([type='checkbox']):not([type='radio']),
select {
  display: block;
}

input,
button,
textarea,
select {
  color: var(--form-text);
  background-color: var(--background-color-alt-1);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

input,
select,
button,
textarea {
  -webkit-appearance: none;
}

textarea {
  margin-right: 0;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}

select {
  background: var(--background-color-alt-1) var(--select-arrow) calc(100% - 12px) 50% / 12px no-repeat;
  padding-right: 35px;
}
select::-ms-expand {
  display: none;
}

select[multiple] {
  padding-right: 10px;
  background-image: none;
  overflow-y: auto;
}

button,
input[type='submit'],
input[type='button'] {
  padding-right: 30px;
  padding-left: 30px;
}

button:hover,
input[type='submit']:hover,
input[type='button']:hover {
  background: var(--button-hover);
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  box-shadow: 0 0 0 2px var(--focus);
}

input[type='checkbox'],
input[type='radio'] {
  position: relative;
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: 2px;
}

input[type='radio'] {
  border-radius: 50%;
}

input[type='checkbox']:checked,
input[type='radio']:checked {
  background: var(--button-hover);
}

input[type='checkbox']:checked::before,
input[type='radio']:checked::before {
  content: '•';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

input[type='checkbox']:checked::before {
  content: '✔';
  transform: translateY(-50%) translateY(0.5px) translateX(-6px);
}

input[type='checkbox']:active,
input[type='radio']:active,
input[type='submit']:active,
input[type='button']:active,
input[type='range']:active,
button:active {
  transform: translateY(2px);
}

input:disabled,
select:disabled,
button:disabled,
textarea:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

::-webkit-input-placeholder {
  color: var(--form-placeholder);
}

::-moz-placeholder {
  color: var(--form-placeholder);
}

::-ms-input-placeholder {
  color: var(--form-placeholder);
}

::placeholder {
  color: var(--form-placeholder);
}

fieldset {
  border: 1px var(--focus) solid;
  border-radius: 6px;
  margin: 0;
  margin-bottom: 6px;
  padding: 10px;
}

legend {
  font-size: 0.9em;
  font-weight: 600;
}

input[type='range'] {
  margin: 10px 0;
  padding: 10px 0;
  background: transparent;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 9.5px;
  transition: 0.2s;
  background: var(--background);
  border-radius: 3px;
}

input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--border);
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: var(--background);
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 9.5px;
  transition: 0.2s;
  background: var(--background);
  border-radius: 3px;
}

input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--border);
}

input[type='range']::-ms-track {
  width: 100%;
  height: 9.5px;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type='range']::-ms-fill-lower {
  background: var(--background);
  border: 0.2px solid #010101;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type='range']::-ms-fill-upper {
  background: var(--background);
  border: 0.2px solid #010101;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type='range']::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--border);
}

input[type='range']:focus::-ms-fill-lower {
  background: var(--background);
}

input[type='range']:focus::-ms-fill-upper {
  background: var(--background);
}


/*=============================
  Table
=============================*/

table {
  width: 100%;
  min-width: 600px;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border-collapse: collapse;
  font-variant-numeric: tabular-nums;
}

thead {
  display: table-header-group;
}

thead th {
  height: 2.5em;
  vertical-align: middle;
  text-align: left;
  color: var(--background-color);
  background-color: var(--text-color);
}

tbody tr {
  border-top: 1px solid var(--color-grey);
  border-bottom: 1px solid var(--color-grey);
}

tbody tr:first-child {
  border-top: none;
}

tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-container {
  overflow-x: auto;
  overflow-y: hidden;
}

/*=============================
  Summary Details
=============================*/

details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--background-color-alt-1);
  padding: 10px 10px 0;
  margin: 1em 0;
  border-radius: 6px;
  overflow: hidden;
}

details[open] {
  padding: 10px;
}

details > :last-child {
  margin-bottom: 0;
}

details[open] summary {
  margin-bottom: 10px;
}

summary {
  display: list-item;
  background-color: var(--background-color-alt-1);
  padding: 1rem;
  margin: -1rem -1rem 0;
}

details > :not(summary) {
  margin-top: 0;
}

summary::-webkit-details-marker {
  color: var(--text-color);
}


/*=============================
  Utilities
=============================*/

.hide-on-mobile {
  display: hidden;
}

@media only screen and (max-width: 768px) {
  .hide-on-mobile {
     display: none;
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .text-left-on-mobile {
    text-align: left; 
  }
  
  .text-center-on-mobile {
    text-align: center;
  }

  .text-right-on-mobile {
    text-align: right;
  }
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.shadow-1 {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.shadow-2 {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}

.shadow-3 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
}

.shadow-4 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
}

.shadow-5 {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);
}

.bg-standard {
  background-color: var(--background-color);
}

.bg-black {
  background-color: var(--color-black);
}

.bg-white {
  background-color: var(--color-white);
}

.fill-black {
  fill: var(--color-black);
}

.fill-white {
  fill: var(--color-black);
}

.stroke-black {
  stroke: var(--color-black);
}

.stroke-white {
  stroke: var(--color-black);
}

.text-dark {
  color: var(--color-dark-grey);
}

.text-light {
  color: var(--color-white);
}
