@charset "UTF-8";

:root {
  --color-red: #FF4136;
  --color-blue: #0074D9;
  --color-aqua: #7FDBFF;
  --color-teal: #39CCCC;
  --color-olive: #3D9970;
  --color-green: #4CAF50;
  --color-lime: #01FF70;
  --color-yellow: #FFDC00;
  --color-orange: #FF851B;
  --color-fuchsia: #F012BE;
  --color-purple: #B10DC9;
  --color-maroon: #85144B;
  --color-brown: #795548;
  --color-black: #000000;
  --color-grey10: #171a20;
  --color-grey20: #333333;
  --color-grey30: #5c5e62;
  --color-grey40: #a2a3a5;
  --color-grey50: #d0d1d2;
  --color-grey60: #eee;
  --color-grey70: #f4f4f4;
  --color-white:  #ffffff;

  --border-radius: 4px;
  --box-shadow: 2px 2px 10px;
  --hover-brightness: 1.2;
  --line-height: 1.4;
  --width-content: 1080px;

  --color: var(--color-blue);
  --color-accent: var(--color-aqua);
  --main-color: var(--color);
  --color-highlight: var(--color-yellow);
  --color-variable: var(--color-green);

  --color-bg: var(--color-white);
  --color-bg-secondary: var(--color-grey50);

  --shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);

  --color-text: #2a2a2a;
  --color-text-muted: var(--color-grey40);

  --color-links: #0076d1;
  --color-border: var(--color-grey50);

  --animation-duration: 0.2s;
  --button-hover: var(--color-grey50);

  --form-placeholder: var(--color-grey40);
  --form-text: var(--color-black);
  
  --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23161f27'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
}


@media (prefers-color-scheme: dark) {
  body.enable-dm {
    --color-bg: var(--color-grey20);
    --color-bg-secondary: var(--color-grey30);
    --color-text: var(--color-grey60);

    --form-text: var(--color-white);
    --shadow: box-shadow: 0 1.5px 4px rgba(255, 255, 255, 0.24), 0 1.5px 6px rgba(255, 255, 255, 0.12);
  }

  html {
    content: "dark";
  }
  
  body.enable-dm img:not([src*=".svg"]) {
    filter: brightness(.8) contrast(1.2);
    transition: all var(--animation-duration);
  }
  
  body.enable-dm img:not([src*=".svg"]):hover {
    filter: brightness(1) contrast(1); 
  }
}

::selection {
  color: var(--color-bg);
  background-color: var(--color-text);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1rem;
  line-height: var(--line-height);
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
  hyphens: auto;
}

@media (max-width: 768px) {
  body {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
  }
}

footer {
  padding-top: 1rem;
  font-size: 0.8rem;
  color: var(--color-text-muted);
}

footer a {
  color: inherit;
  text-decoration: none;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

img.16-9,
video.16-9 {
  ratio: 16 / 9;
}

img.4-3,
video.4-3 {
  ratio: 4 / 3;
}

figure {
  margin: 0;
  padding: 0;
}

figure img,
figure video {
  width: 100%;
}

figure figcaption {
  color: var(--color-text-muted);
  font-size: 0.8rem;
}

hr {
  background-color: var(--color-text);
  border: none;
  height: 1px;
  margin: 4rem 0;
}
  
abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

u {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

small,
.small {
  font-size: 0.8rem;
}

mark { 
  color: #2a2a2a;
  background-color: var(--color-yellow);
  padding: 0px 2px 0px 2px;
  border-radius: var(--border-radius);
}

sub,
sup {
  font-size: 0.8rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  font-weight: bold;
  margin: 0.2rem;
  padding: 0.2rem 0.3rem;
  position: relative;
  top: -0.5em;
}

q:before {
   content: none;
}

q:after {
   content: none;
}

blockquote {
  display: block;
  font-style: italic;
  text-align: center;
  line-height: inherit;
  margin: 1rem auto;
  padding: 1.5rem 1rem;
  border-left: 4px solid var(--color-text);
  max-width: 800px;
}

blockquote cite {
  font-style: normal;
}

/*=============================
  Link Styling
=============================*/

a  {
  color: var(--color-text);
  text-decoration: underline;
  text-decoration-color: var(--color-links);
  text-decoration-thickness: 2px;
}

a:hover {
  color: var(--color-links);
  filter: brightness(var(--hover-brightness));
  text-decoration-thickness: 3px;
}

a.neutral,
a.neutral:hover {
  color: inherit;
  text-decoration: none;
  filter: none;
}

a:focus {
  outline: 0;
}


/*=============================
  Container & Grid
=============================*/

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 -0.5rem 0 -0.5rem;
  justify-content: space-between;
}

.row.baseline {
  align-items: baseline;
}

.row:not(:last-child) {
  padding-bottom: 1rem;
}

[class*="col"] {
  margin: 0 0.5rem 0 0.5rem;
  padding: 0;
}

.col {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
  flex: 1;
}

.col-1 {
  width: calc(100% / 12);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: calc(100% / 2);
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-5 {
  width: 100%;
}

@media (max-width: 768px) {
  .row {
    display: block;
    margin: 0;
  }

  [class*="col"] {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

/*=============================
  Typography
=============================*/

h1, h2, h3 {
  letter-spacing: -0.05em;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  line-height: 1.25;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.3;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/*=============================
  Lists
=============================*/

ul,
ol {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding-left: 0;
}

ul li,
ol li {
  margin-bottom: 1rem;
}

ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-left: 1rem;
}

@media (max-width: 768px) {
  ul, ol {
    padding-left: 1rem;
  }
}

/*=============================
  Code
=============================*/

code,
samp {
  background-color: var(--color-grey50);
  color: var(--color-grey20);
  border-radius: var(--border-radius);
  display: inline-block;
  margin: 0 0.1rem;
  padding: 0rem 0.5rem;
  font-family: "Consolas", "Monaco", "Menlo", monospace;
}

pre {
  white-space: normal;
}

pre > code,
pre > samp {
  display: block;
  margin: 1rem 0;
  padding: 1rem;
  overflow-x: auto;
}

var {
  font-family: "Consolas", "Monaco", "Menlo", monospace;
}

kbd {
  background: var(--color-bg);
  border: 1px solid var(--color-grey40);
  border-radius: var(--border-radius);
  color: var(--color-text);
  padding: 2px 4px 2px 4px;
}


/*=============================
  Form
=============================*/

form {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  display: block;
  padding: 1.5rem;
  width: 100%;
}

input,
label,
select,
textarea {
  display: block;
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  margin: 0 auto 1rem auto;
  transition: background-color var(--animation-duration) linear,
              border-color var(--animation-duration) linear,
              color var(--animation-duration) linear,
              box-shadow var(--animation-duration) linear,
              transform var(--animation-duration) ease;
}

input:not([type="checkbox"]):not([type="radio"]),
select {
  display: block;
}

input,
button,
textarea,
select {
  color: inherit;
  background-color: var(--color-bg-secondary);
  font-family: inherit;
  font-size: inherit;
  margin: 0 0.5rem 0.5rem 0;
  margin-right: 6px;
  padding: 0.75rem;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
}

input,
select,
button,
textarea {
  -webkit-appearance: none;
}

textarea {
  margin-right: 0;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}

select {
  background: var(--select-arrow) calc(100% - 12px) 50% / 12px no-repeat;
  padding-right: 35px;
}

select::-ms-expand {
  display: none;
}

select[multiple] {
  padding-right: 0.75rem;
  background-image: none;
  overflow-y: auto;
}

button,
input[type="submit"],
input[type="button"] {
  color: var(--color-bg);
  background-color: var(--color-text-muted);
  padding-right: 1rem;
  padding-left: 1rem;
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background: var(--button-hover);
}

input[type="checkbox"],
input[type="radio"] {
  position: relative;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: 2px;
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background: var(--button-hover);
}

input[type="checkbox"]:checked::before,
input[type="radio"]:checked::before {
  content: "•";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

input[type="checkbox"]:checked::before {
  content: '✔';
  transform: translateY(-50%) translateY(0.5px) translateX(-6px);
}

input[type="checkbox"]:active,
input[type="radio"]:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="range"]:active,
button:active {
  transform: translateY(2px);
}

input:disabled,
select:disabled,
button:disabled,
textarea:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

::-webkit-input-placeholder {
  color: var(--form-placeholder);
}

::-moz-placeholder {
  color: var(--form-placeholder);
}

::-ms-input-placeholder {
  color: var(--form-placeholder);
}

::placeholder {
  color: var(--form-placeholder);
}

fieldset {
  border: 1px var(--color-text) solid;
  border-radius: var(--border-radius);
  padding: 0.35em 0.75em 0.625em;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

input[type="range"] {
  margin: 10px 0;
  padding: 10px 0;
  background: transparent;
}

input[type="range"]:focus {
  outline: none;
}


/*=============================
  Table
=============================*/

table {
  width: 100%;
  min-width: 600px;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border-collapse: collapse;
  border: 1px solid var(--color-bg-secondary);
  font-variant-numeric: tabular-nums;
  border-spacing: 0;
}

thead {
  display: table-header-group;
  border: 0;
}

thead th {
  height: 2.5em;
  vertical-align: middle;
  text-align: center;
  background-color: var(--color);
  border-collapse: collapse;
  color: var(--color-bg);
}

tbody {
  border: 1px solid var(--color-bg-secondary);
}

tbody tr {
  border-top: 1px solid var(--color-grey50);
  border-bottom: 1px solid var(--color-grey50);
}

tbody tr:first-child {
  border-top: none;
}

tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

@media (max-width: 768px){
  .table-container {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

/*=============================
  Summary Details
=============================*/

summary {
  display: list-item;
}

details {
  margin: 1rem auto;
  padding: 0 1rem;
  width: 100%;
  max-width: calc(100% - 2rem);
  position: relative;
  border: 1px solid var(--color-text);
  border-radius: 6px;
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.15s;
}

details > :last-child {
  margin-bottom: 1rem;
}

details::before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  opacity: 0.15;
  box-shadow: 0 0.25em 0.5em var(--color-bg-secondary);
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: -1;
}

details[open] {
  background-color: var(--color-bg);
}

details summary {
  padding: 0.5rem 1em 0.5rem 0;
  display: block;
  position: relative;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
}

details summary::before, summary::after {
  width: 0.75em;
  height: 2px;
  position: absolute;
  top: 50%;
  right: 0;
  content: '';
  background-color: var(--color-text);
  text-align: right;
  transform: translateY(-50%);
  transition: transform 0.2s ease-in-out;
}

details summary::after {
  transform: translateY(-50%) rotate(90deg);
}

details summary:focus {
  outline: none;
}

[open] summary::after {
  transform: translateY(-50%) rotate(180deg);
}

summary::-webkit-details-marker {
  display: none;
}

/*=============================
  Utilities
=============================*/

.hide-on-mobile {
  display: hidden;
}

@media (max-width: 768px) {
  .hide-on-mobile {
     display: none;
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .text-left-on-mobile {
    text-align: left; 
  }
  
  .text-center-on-mobile {
    text-align: center;
  }

  .text-right-on-mobile {
    text-align: right;
  }
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.shadow-1 {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.shadow-2 {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}

.shadow-3 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
}

.shadow-4 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
}

.shadow-5 {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
  .shadow-1 {
    box-shadow: 0 1.5px 4px rgba(255, 255, 255, 0.24), 0 1.5px 6px rgba(255, 255, 255, 0.12);
  }

  .shadow-2 {
    box-shadow: 0 3px 12px rgba(255, 255, 255, 0.23), 0 3px 12px rgba(255, 255, 255, 0.16);
  }

  .shadow-3 {
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.23), 0 10px 40px rgba(255, 255, 255, 0.19);
  }

  .shadow-4 {
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.22), 0 14px 56px rgba(255, 255, 255, 0.25);
  }

  .shadow-5 {
    box-shadow: 0 15px 24px rgba(255, 255, 255, 0.22), 0 19px 76px rgba(255, 255, 255, 0.3);
  }  
}
